header {
    width: 100%;
    background-color: #161C2D;
}

.navigation {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: auto;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 25px;
}

.navbar li {
    padding: 10px 0;
}

.navbar li a {
    text-decoration: none;
    color: whitesmoke;
    
}

.navbar li:last-child a{
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar li:last-child a:hover {
    background-color: rgb(182, 215, 252);
    transition: 0.3s;
    color: #161C2D;
}

.navbar nav ul li a:hover {
    color: rgb(182, 215, 252);
    transition: 0.3s;
    cursor: pointer;
}



/* Hero Section Start Here  */
/* Hero Section Start Here  */

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}
.video-article {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, .3, .3, 0.8);
}
.video-player {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.video-article h2 {
    color: whitesmoke;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 108.333% */
    letter-spacing: -2px;
}

.video-article p {
    color: rgb(195, 173, 173);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 168.421% */
    letter-spacing: -0.2px;
    margin: 20px 0;
}

.form-section {
    width: 70%;
    margin: 40px auto;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: var(--primary-color);
}
.form-section form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.form-section input, select {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;

}

.search {
    background-color: #161C2D;
    color: aliceblue;
    font-size: 16px;
}

.search:hover {
    cursor: pointer;
    background-color: rgb(144, 195, 254);
    color: #161C2D;
    transition: 0.4s;
}


/* Media Query Applied Here  */
/* Media Query Applied Here  */

@media only screen and (max-width: 600px) {

    .logo {
        margin-bottom: 15px;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-section form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        
    }
    .video-article {
        width: 80%;
        margin: 0 auto;
    }
    .video-article h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .navigation {
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px;
    }
    .navbar ul {
        gap: 15px;
    }
    .video-article {
        width: 80%;
        margin: 0 auto;
    }
}

