

.jobs-width {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.jobs-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 0;
}

.job-offer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}

.job-offer h3 {
    color: #161C2D;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 152.381% */
    letter-spacing: -0.5px;
}



.job-offer p {
    color: #161C2D;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    letter-spacing: -0.1px;
    margin: 10px 0;
}