

.jobs-width {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.jobs-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 0;
}

.job-offer h3 {
    color: #161C2D;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 152.381% */
    letter-spacing: -0.5px;
}

