

.news-margin{
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
}

.news-header {
    text-align: center;
    width: 50%;
    margin: 0px auto 60px auto;
    /* padding: 30px 0; */
}

.news-header h2 {
    color: #161C2D;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -1.2px;
}
.news-header p {
    color: #161C2D;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px; /* 168.421% */
    letter-spacing: -0.2px;
    margin: 15px 0;
}

.news-portion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.news-part img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.news-part {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 8px;
}


.news-article {
    padding: 15px 0;
}

.news-article p {
    color: #161C2D;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    letter-spacing: -0.1px;
    margin-bottom: 10px;
}

.news-article h5 {
    width: 90%;
    color: #161C2D;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px; /* 152.381% */
    letter-spacing: -0.5px;
}

.news-part a {
    text-decoration: none;

}

.news-part button {
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0 30px 0;

}

.news-part button:hover {
    background-color: #161C2D;
    transition: 0.4s;
}



/* Media Query Added here  */
@media only screen and (max-width: 600px) {
    .news-portion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .news-header {
        width: 90%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .news-portion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .news-header {
        width: 70%;
    }

}